.vagrant
.coverage
*.pyc
*.*~
database.sqlite
local_settings.py
.local_settings.sw*
fake_SMTP_server.py
scratchpad.py
proj_libs/
local_apps/
*.log
uploads/
db_backup/
.DS_Store
*.kpf
tags
db
*.swp
cache
media
sitestatic/
.env
celerybeat-schedule
*.sublime-project
*.sublime-workspace
celeryev.pid
celerybeat-schedule
cover
.ropeproject
.idea
.codeintel
.ipython
build
gunicorn.pid

*/bower_components
*/node_modules

envs/prod

node_modules
bower_components

nosetests.xml
kubernetes/secrets.yaml
raw-uploads/

deploy-rc.yaml
deploy-rc.yaml.bak
